.technologies__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technologies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    margin: 15px;
    width: 100%;
}

.technologies__title h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}

.technology{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 32px;
}

.exp {
    font-size: 16px;
    font-weight: 400;
    color: #D9D9D9;
}


@media screen and (min-width: 768px){
    .technologies{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 100px 0;
        width: 80%;
        min-height: 50vh;
    }

    .technologies__title h2{
        font-size: 72px;
    }

    

    .technology{
        font-size: 48px;
    }

    .exp{
        font-size: 18px;
    }
}


@media screen and (min-width: 1440px){

    .technologies{
        width: 90%;
        margin: 0;
    }
    .technologies__title h2{
        font-size: 88px;
    }
    .technology{
        font-size: 70px;
    }
}