.hero{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}
p{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;

    
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 5px;

}

span{
    text-decoration: underline #4ee1a0;
}
