.hero{
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: hidden;

}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.description p{
    text-align: center;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    color: #D9D9D9;
    
}

.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link a{
    margin-left: 0;
}

.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 5px;

}

span{
    text-decoration: underline #4ee1a0;
}

.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    background: rgb(36,36,36);
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(36,36,36,0.01) 100%);
} 

.img__container img{
    width: 100%;
    filter: grayscale(100%);
    
}

@media screen and (min-width: 768px){

    .hero{
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        min-height: 80vh;
    }

    .img__container{
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .text__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
    }

    .hello h2{
        font-size: 72px;
        text-align: left;
        margin: 0;
        width: 100%;
    }

    .description p{
        width: 100%;
        font-size: 18px;
        text-align: left;
        text-shadow: #242424 0px 0px 10px;
    }
}

@media screen and (min-width: 1440px){
    .hero{
        margin: 0;
    }

    .text__container{
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 20px;
    }

    .hello h2{
        font-size: 88px;
    }

    .description p{
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 1.5px;
    }

    .contact-link a{
        font-size: 32px;
    }
}
    

