.contact{
    background-color: #242424;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .title{
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.contact .title h2 {
    font-size: 40px;

}

.contact .title p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
    color: #D9D9D9;
}

@media screen and (min-width: 768px) {

    .contact .title h2 {
        font-size: 72px; 
    }

    .contact .title p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {

    .contact .title{
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    .contact .title h2 {
        font-size: 88px; 
    }

    .contact .title p {
        font-size: 24px;
        width: 60%;
    }

}
    
