.link{
    letter-spacing: 2.3px;
    background: none;
    margin: 15px;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4ee1a0; 
    transition: all 0.3s ease;   
}

.link:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.link:focus{
    background-color: #4ee1a0;
}