
.invisible{
    height: 20px;
    width: 100vw;
    background:none;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    gap: 20px;
    background-color:#151515 ;
}

h1{
    font-weight: 400;
    font-size: 24px;
}

.socialMedia{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.link-socialMedia{
    color: #fff;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.link-socialMedia:hover{
    color: #4ee1a0;
}

@media screen and (min-width: 768px ) {
    .header{
        flex-direction: row;
        margin: 0 20px;
        padding: 20px;
        width: 100vw;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    h1{
        font-size: 32px;
    }

    .socialMedia{
        width: 30%;
    }
}

@media screen and (min-width: 1440px){
    .header{
        justify-content: space-around;
        width: 100vw;
    }
}
    



