@use './variables.scss' as *;

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    
    h1{
        font-weight: 400;
        font-size: $headingM;
    }

    .socialMedia{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .link-socialMedia{
            color: $white;
            font-size: $headingM;
        }

    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 75%;
        }
    }

    
}