.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    gap: 20px;
}

.footer h2{
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.link-socialMedia{
    color: #fff;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.link-socialMedia:hover{
    color: #4ee1a0;
}

@media screen and (min-width:768px){
    .footer{
        width: 100vw;
        flex-direction: column-reverse;
    }

    .footer h2{
        padding-bottom: 10px;

    }

    .footer .socialMedia{
        margin-top:15px ;
    }
}