*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

hr{
    width: 95%;
    border: 1px solid #fff;
}

/* .container{
    position: relative;
}

.box {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
}

.a{
    z-index: 1000;
}

.b{
    z-index: 900;
}

.c{
    z-index: 800;
}

.d{
    z-index: 700;
} */
