@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {

  font-size: 16px;
  font-family: 'Space Grotesk' ,sans-serif;
  
  color-scheme: light dark;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  --animate-duration: 2500ms;
  --animate-delay: .2s;
}

html {
  scroll-behavior: smooth;
}







